h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 2.8rem;
    margin: 15px 80px; 
  }
} 

@media screen and (max-width: 574px) {
  h1 {
    font-size: 1.8rem;
    margin: 15px 30px; 
  }
}

h2 {
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 1.5rem;
    margin: 15px 80px; 
  }
} 

@media screen and (max-width: 574px) {
  h2 {
    font-size: 0.8rem;
    margin: 0 35px;
  }
} 

h3 { 
  font-size: 2.5rem;
}

@media screen and (max-width: 991px) {
  h3 {
    font-size: 2rem;
  }
} 

@media screen and (max-width: 574px) {
  h3 {
    font-size: 1.5rem;
  }
} 

p {
  font-size: 1rem;
}

@media screen and (max-width: 991px) {
  p {
    font-size: 0.7rem;
  }
} 


.LogoHeader {
    width: 60%;
    margin-top: 50px;
}

@media screen and (max-width: 1000px) {
    .LogoHeader {
      width: 90%;
    }
  } 

  
.foto-circulo {
    position: absolute;
    top: 330px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    z-index: 10;
    
}

.foto-circulo img {
    width: 50%;
}

@media screen and (max-width: 1199px) {
  .foto-circulo {
    top: 410px;
  }
} 

@media screen and (max-width: 991px) {
    .foto-circulo {
        visibility: hidden;
    }
  } 


.leticia {
    width:75%;
    margin-top: 80px;
    margin-bottom: 150px;
}


@media screen and (max-width: 1199px) {
    .leticia {
      width: 87%;
    }
  }

  .leticia1 {
    display: none;
  }

  
  @media screen and (max-width: 991px) {
    .leticia {
      display: none;
    }
  } 


  @media screen and (max-width: 991px) {
    .leticia1 {
      display: inline;
      width: 45%;
      margin: 0;
      padding: 0;
      margin-top: 12px;
      margin-bottom: -30px;
    }
  }
  

.box-header {
    background-color: #af6438;
    height: 100%; 
    width: 100%;
    color:white; 
    padding:130px 30px 30px 30px; 
    position:relative; 
    margin-top:180px;
  }

  @media screen and (max-width: 1199px) {
    .box-header {
      margin-bottom:150px;
    }
  } 

  @media screen and (max-width: 991px) {
    .box-header {
      padding: 30px 30px 30px 30px;
      margin-top:50px;
    }
  } 

  .produtosqualidade {
    color:#af6438; 
    margin-top: 50px;
    font-family:'Geller Headline';
    padding: 15px;
  }

  @media screen and (max-width: 574px) {
    .produtosqualidade {
      margin-top: 10px;
    }
  } 

  .cliquepontos {
    color: green;
    font-family: 'Geller Headline';
    padding: 15px;
  }

  .aumentaenergia {
    font-family:'Geller Headline';
  }



  


