.App-nav {
    background-color: green;
    font-size: 16px;
    font-family: 'Arial';
    text-transform: uppercase;
    font-weight: 300;
    flex-wrap: wrap;
  }

  /* Configuração de cores da Navbar START*/

  .navbar-light .navbar-nav .nav-link {
    color: white;
    margin: 0 10px;
    transition: 400ms ease-in;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    background-color: white;
    opacity: 0.5;
  }

  .navbar-brand {
    margin-right: 20px;
    margin-left: 25%;
  }

  /* Configuração de cores da Navbar END*/


  @media screen and (max-width: 999px) {
    .navbar-brand {
      margin-left: 3%;
    }
  }