.ofertas-bg {
    width: 100%;
    height: 600px;
    background-color: gray;
    margin-top: 50px;
    padding: 20px;
    
}

@media screen and (max-width: 1291px) {
    .App-fundo {
      position: fixed;
      width: 2000px;
    }
  }