.vermaisreceitas {
    width: 100%;
    height: 130px;
    display: block;
    margin-top: 220px;
    color: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #af6438; 
    color:;
}